# Introdução ao Python

Computadores são conhecidos por terem a capacidade de fazer quase tudo. Cálculos, imagens, traduções, ou mesmo pensar. Essas máquinas, porém, não fazem nada independentemente. Tudo que um computador faz é seguir ordens. Tais instruções dadas aos computadores são chamados **algoritmos**.<br>
A palavra **algoritmo** é definida como uma sequência de passos a ser seguida a fim de atingir determinado objetivo. Por exemplo, uma receita de bolo é um algoritmo: temos passos a seguir com a finalidade de confeccionar o bolo. Para passarmos instruções às máquinas, então, criamos algoritmos a partir de **linguagens de programação**.

<img src="https://files.realpython.com/media/How-to-Run-A-Python-Script_Watermarked.65fe32bf5487.jpg" style="max-height: 20rem;">

### O que é uma Linguagem de Programação?

Linguagens de programação são como métodos de comunicação entre os seres humanos e as máquinas (computadores), de modo que usamos tais linguagens para enviar comandos aos computadores. Computadores, no entanto, entendem apenas uma linguagem, a binária (constituída apenas de dois valores, 1 e 0). As linguagens de programação, por sua vez, são ferramentas utilizadas pelos seres humanos para programar máquinas de forma mais legível (sem ser apenas 1's e 0's) e palpável. Os códigos escritos em uma dada linguagem, então, são convertidos em linguagem de máquina após a compilação do código programado e esta, será exacutada pelo computador.

### Sobre a Linguagem Python

![pitao.png]()\
Python, então, é uma das diversas linguagens de programação disponíveis, sendo a linguagem mais popular do mercado nos últimos anos.\
Mas o que faz dela tão popular?\
A linguagem Python é uma linguagem de programação geral, isto é, seu uso abrange uma vasta variedade de segmentos da computação. Dentre seus principais usos, podemos destacar inteligência artificial, análise de dados, aplicações desktop ou mobile e até no desenvolvimento jogos.

Python também recebe grande parte de sua popularidade devido a sua simplicidade. Python é conhecida por ser uma linguagem amigável a iniciantes, visto que não possui uma grande quantidade de regras semânticas e tem parte considerável de sua construção envolvendo palavras de língua inglesa, tornando mais fácil o entendimento humano.

Por fim, Python mantém-se como uma das linguagens mais poderosas por ser atualizada constantemente. Novas bibliotecas (algo como *ferramentas extras*) são implementadas pela comunidade, auxiliando no desenvolvimento de áreas específicas da programação. No decorrer do curso, veremos algumas bibliotecas muito importantes e como elas alteram totalmente a experiência do programador.

# Como Programar em Python

Para programarmos em Python, precisamos primeiro saber como *compilar* um código escrito. A compilação é o momento que colocamos nosso algoritmo para rodar no computador. Para rodarmos um algoritmo, é preciso ter um interpretador no computador, que fará a tradução do seu código Python em binário, para que o computador entenda os comandos. Ao instalar Python no dispositivo, o interpretador já será instalado. Para compilarmos o programa, então, precisamos abrir o Prompt de Comando no Windows na pasta em que nosso arquivo se encontra. No terminal, colocamos o comando
```
python nome_do_arquivo.py
```
Com isso, o programa será compilado e seguido pela sua máquina.

## Binder

<div style="display: flex; gap: 20px;">
<img src="https://mybinder.org/static/logo.svg?v=fe52c40adc69454ba7536393f76ebd715e5fb75f5feafe16a27c47483eabf3311c14ed9fda905c49915d6dbf369ae68fb855a40dd05489a7b9542a9ee532e92b">

Aqui no curso, porém, usaremos um ambiente mais "amigável" de programação, que não envolve o terminal: o Binder. O ambiente Binder é uma ferramenta desenvolvida para a criação de notebooks de Python (como este aqui) e é capaz de compilar nossos códigos diretamente do navegador. <br>
</div>
Os notebooks são escritos em uma mistura das linguagens MarkDown e Python. Em geral, parte escrita é feita em MarkDown e os códigos em Python.

Dessa forma, não precisaremos instalar nada em nossas máquinas e nem executar comandos no terminal!

## Imprimindo mensagens: ```print()```

Quando queremos mostrar algum valor ou mensagem no terminal, usamos a função ```print()```, com os argumentos que queremos imprimir na tela.\
Para textos, colocamos a mensagem entre aspas (duplas ou não) dentro dos parênteses:

In [ ]:
print("Hello World!")
print('Olá Mundo!')

Hello World!
Olá Mundo!

Para números ou operações, não precisamos de aspas:

In [ ]:
print(12)

12

Podemos, ainda, imprimir uma mistura de números com inteiros. Separamos cada atributo a ser impresso através de vírgulas:

In [ ]:
print("Quero", 12,  "maçãs.")

Quero 12 maçãs.

Caso tenhamos estruturas mais complexas para imprimir ou mais de um valor, podemos colocar dentro da própria mensagem onde os números aparecerão, usando o caractere especial %d. Especificamos quais valores quais números substituirão o %d no texto com a estrutura %(número):

In [ ]:
print("Agora são %d e %d da manhã." %(7, 25))

Agora são 7 e 25 da manhã.

#### **Exercício**
Faça uma pequena introdução sua! Coloque seu nome e sua idade para aparecerem no terminal.

In [ ]:
# Escreva seu código aqui

## Operações matemáticas

Para fazer operações com estes números, utilizamos as notações matemáticas básicas, + para adição, - para subtração, * para multiplicação e / para divisão. Pode-se fazer múltiplas operações em apenas uma linha, sendo possível ordená-las através do uso de parênteses, como na linguagem matemática da vida real:

In [ ]:
print("Sem parênteses: ", 15/3*1.2/3-15)
print("Com parênteses: ", (((15/3)*1.2)/(3-15)))

Sem parênteses:  -13.0
Com parênteses:  -0.5

## Variáveis de Memória

### O que são Variáveis?

Para trabalharmos com dados de forma mais organizada, podemos armazená-los em Variáveis de Memória. Tais variáveis colocam um determinado dado na memória do computador, dando um nome e localização a ele.\
Variáveis são como _caixas_ nomeadas que carregam algo dentro. Elas são úteis em um código que utiliza de uma mesma informação diversas vezes ao longo da aplicação ou quando precisamos alterar certos dados multiplas vezes.\
Em Python, podemos declarar uma variável da seguinte maneira:

In [ ]:
name = "Roberto"
idade = "33"

Podemos, então, mostrar ou usar a informação guardada chamando a variável pelo seu nome no código:

In [ ]:
name = "Roberto"
idade = "33"

print(name + " tem " + idade + " anos de idade.")

Roberto tem 33 anos de idade.

Perceba que o código retornou os valores colocados nas variáveis nos respectivos lugares em que foram chamadas.\
Podemos alterar o valor de variáveis ao longo do código declarando-a novamente:

In [ ]:
name = "Roberto"
idade = "33"

print(name + " tem " + idade + " anos de idade.")

idade = "34"

print(name + " tem " + idade + " anos de idade.")

Roberto tem 33 anos de idade.
Roberto tem 34 anos de idade.

Podemos, também, referenciar variáveis da seguinte forma:

In [ ]:
a = 5
b = 6
print("a = %d e b = %d" %(a,b))

print("%s tem %s anos de idade." %(name,idade))

a = 5 e b = 6
Roberto tem 34 anos de idade.

### Interações entre variaveis

Precosamos tomar cuidados porque não podemos, na maioria das vezes, fazer operações entre duas variáveis que não possuem o mesmo *tipo de dado* (veremos mais sobre tipos de dados mais tarde). O código abaixo nos retorna um erro, visto que o primeiro número 5 é do tipo string (especificado pelas aspas) e apenas o segundo é realmente um número inteiro.
```python
'5' + 5
```
Podemos resolver o problema a partir das funções de transformação:

In [ ]:
5 + int('5')

10

Nesse caso, transformamos a string '5' em um inteiro a partir do *método* ```int()```.

### *Métodos*

Métodos em Python são ferramentas pré-instaladas na linguagem para que possamos executar instruções em objetos ou alterá-los de forma mais rápida. O método ```int()```, que acabamos de usar, transforma o objeto que colocamos dentro do parênteses em um valor inteiro. O método ```print()```, que vimos anteriormente, imprime textos no console.\
Veja que cada método tem uma função simples e clara, que serve para executarmos uma tarefa simples de forma rápida.

### **Exercício**
Vamos criar uma calculadora? Armazene dois números inteiros em variáveis e imprima as respostas das seguintes operações:
1. Soma dos dois números;
2. Multiplicação dos dois números;
3. Divisão dos dois números;
4. Subtração dos dois números.

In [ ]:
# Coloque seu código aqui

## Ferramentas de Controle

### Condições

Existem situações onde precisamos verificar ou testar se determinada condição é VERDADEIRA e, somente se ela for VERDADEIRA, vamos querer executar determinadas instruções. Veja um exemplo simples:\
Em um bar, o vendedor só deve vender bebidas **se** o cliente tiver mais de 18 anos. Caso o comprador seja menor de idade, a venda é proibida. Veremos agora como implementamos este tipo de situação em códigos de Python.

Usamos 'if', 'elif' e 'else' colocando uma condição ao lado destes comandos. Em Python, não se usa parênteses na condição. Ao final da condição, adiciona-se ':' para sinalizar o início do que será feito se a condição é verdadeira. Abaixo da linha do if, colocamos o que queremos que o computador faça, com uma identação (aquele espaço no início da linha) para indicar que está *dentro* da condição. Veja o exemplo do bar implementado:

In [ ]:
a = 16

if(a < 18):
  print("Proibida a venda.")
else:
  print("Venda permitida.")

Proibida a venda.

In [ ]:
a = 18

if(a < 18):
  print("Proibida a venda.")
else:
  print("Venda permitida.")

Venda permitida.

Para criarmos as condições, usamos os seguintes sinais operadores:
1. == verifica se dois valores são **iguais**: 1 == 1 é verdadeiro;
2. != verifica se dois valores são **diferentes**: 1 != 2 é verdadeiro;
3. < verifica se o valor à esquerda é **menor** que o valor à direita: 1 < 2 é verdadeiro;
4. <= verifica se o valor à esquerda é **menor ou igual** que o valor à direita: 2 <= 2 é verdadeiro;
5. \> verifica se o valor à esquerda é **maior** que o valor à direita: 2 > 1 é verdadeiro;
6. \>= verifica se o valor à esquerda é **maior ou igual** que o valor à direita: 2 >= 2 é verdadeiro;

Caso precisarmos de mais de uma condição para executar uma tarefa, podemos usar a palavra chave ```and```.

In [ ]:
a = 1
b = 1
if(a < 2 and b < 2):
  print("Os dois são menores que 2!")

Os dois são menores que 2!

Caso tenhamos que executar o mesmo processo para duas condições diferentes, podemos usar a palavra chave ```or```.

In [ ]:
a = 1
b = 3
if(a < 2 or b < 2):
  print("Pelo menos um é menor que 2!")

Pelo menos um é menor que 2!

#### **Exercício**
Crie um programa que compara dois valores armazenados em variáveis e imprime na tela o maior valor.

In [ ]:
# coloque seu código aqui

### Loops

Existem situações em que queremos instruir o computador a executar várias instruções de forma repetida. Por exemplo: se você quiser que a palavra UFSC seja escrita na tela 100 vezes, você vai precisar programar 100 instruções print("UFSC")? Não, pois isso seria extremamente trabalhoso...\
Ao invés de reescrever as mesmas instruções dezenas, centenas ou milhares de vezes, podemos criar um **loop** para que essa tarefa seja efetuada tantas vezes quanto precisarmos de forma automática.

Para criarmos loops nos nossos códigos, podemos usar duas ferramentas específicas: ```for``` e o ```while```.\
Veremos abaixo, como executar um loop com cada uma das palavras-chave.

#### For

O ```for```, como o próprio nome indica, continua o loop <b>para</b> valores que estão dentro da região proposta pelo for. Para criarmos o loop, precisamos de uma condição que faz com que ele rode e **tenha um fim**.

Ainda não estudamos sobre listas, mas pense que é apenas um conjunto de itens colocados em uma mesma variável. Suponha que tenhamos uma lista de compras e queremos mostrar todos os produtos que precisamos comprar.

In [ ]:
lista = ['banana', 'maçã', 'leite']

Temos duas opções: escrever um ```print()``` para cada elemento ou usar um loop que mostra cada um automaticamente. No nosso caso, nossa lista possui apenas 3 itens. Não seria difícil escrever manualmente um print para cada um, não é mesmo? Mas imagine se tivéssemos centenas de itens na lista de compras. Teríamos que escrever manualmente a mesma linha de código para cada elemento centenas de vezes também. Assim, a opção dos loops é com certeza a melhor opção para repetições.\
Então, como ficaria um loop de ```for``` para este exemplo? Veja na célula a seguir.

In [ ]:
for elemento in lista:
    print(elemento)

banana
maçã
leite

Perceba que a palavra 'elemento', dentro do ```for```, é uma nova variável criada que vai carregar um elemento específico que aparece na lista. Conforme o loop é executado, o elemento muda, indo de um em um na lista. Em geral, um loop ```for``` vai seguir o formato:
```python
for elemento in lista_de_elementos
    ação a ser feita
    ...
```
Que literalmente significa fazer determinada ação **PARA** cada elemento na lista.

Mas e se quisermos executar uma mesma ação independente de uma lista múltiplas vezes?

##### Função **range()**

Para estes casos que não temos uma lista inicial, só queremos repetir uma instrução, podemos criar um loop ```for``` usando a função ```range()```. A função ```range()``` nos retorna uma lista de valores, que vai de 0 até o valor colocado dentro da função. Então, se colocarmos o valor '10' dentro dos parênteses, a função retorna uma lista de números que vai de 0 até 9 (totalizando 10 valores).\
Você já deve estar percebendo que agora temos uma lista (criada pela função ```range()```), assim como no exemplo da lista de compras. A partir daqui, podemos criar o nosso loop da mesma forma que antes, usando uma variável auxiliar (geralmente usamos a letra ```i```) que vai passar por cada item da lista, assim como a variável ```elemento``` passava pela lista de compras no exemplo de antes.

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

Assim, para fazer um loop se repetir X vezes, colocamos o tamanho X na função ```range(X)```.

##### **Exercício**
Continuando nossa calculadora, agora crie uma calculadora para potências! Faça com que uma variável indique a potência e outra o valor que será elevado.

In [ ]:
# coloque seu código aqui

#### While

Para o while, o loop continua <b>enquanto</b> tal condição é verdadeira. Novamente, é comum usarmos uma variável auxiliar ```i``` para criar a condição do nosso loop. Veja no exemplo abaixo: criamos a variável i e igualamos ela a zero. Nosso loop vai rodar **enquanto** i for menor que 10. Dentro do nosso loop, incrementamos o valor de i para que o loop tenha um fim (quando i chega a 10).

In [ ]:
i = 0
while i < 10:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9

##### **Exercício**
Agora tente fazer o exercício da calculadora de potências usando o loop com while.

In [ ]:
# coloque seu código aqui

#### Ferramentas de Controle de Loop

Dentro de loops, podemos performar alguns passos a partir de palavras-chave do Python. Elas são: break e continue.

#### Break

A palavra-chave **break** é uma maneira de parar um loop quando determinada condição é satisfeita. Neste exemplo, criamos um loop que mostra os componentes de uma sequência, mas a partir do momento que encontra o primeiro valor acima de 5, o loop é impedido pelo **break**:

In [ ]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]

for i in range(10):
    if sequence[i] > 5:
        break
    print(sequence[i])

1
2
0
4

#### Continue

A palavra-chave **continue**, por sua vez, é usada para continuar o loop. Ela nada mais faz que pular para a próxima repetição do loop. No exemplo seguinte, perceba que o loop soma cada valor da dada sequência, exceto quando o valor dado é do tipo *None*. O **continue** é útil neste tipo de caso em que dados problemas podem ser ignorados sem a interrupção do loop:

In [ ]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
  if value is None:
    print('Valor None! Total: %d' %(total))
    continue
  total = total + value
  print('Total: %d' %(total))

Total: 1
Total: 3
Valor None! Total: 3
Total: 7
Valor None! Total: 7
Total: 12

##### **Exercício**
Crie um programa que imprime todos os valores de 0 até 10, com exceção dos algarismos 2, 5 e 7. Dica: use o continue

In [ ]:
# coloque seu código aqui

### Comentários

Comentários na programação são uma forma de documentar códigos. Tudo que escrevemos na forma de comentários será ignorado pelo interpretador e, portanto, por nossa máquina. Eles são úteis, então, para explicar partes complicadas de um código e deixar ele mais entendível para outras pessoas ou até mesmo o criador do código mais tarde.\
Podemos adicionar comentários em Python usando um <b>#</b> na frente de uma linha ou frase. Tudo que segue o símbolo # será ignorado no código.

In [ ]:
#isso é um comentário
a = 3 #o a = 3 não é um comentário, mas isto aqui é

## Funções e chamadas

Podemos encapsular uma sequência de código na forma de funções. Nomeamos uma sequência de instruções em uma função e podemos executar tal sequência no resto de nosso código em apenas uma expressão, sem precisar reescrevê-la. Funções são úteis quando temos uma instrução que precisa ser seguida diversas vezes ao longo de nosso programa.

Definimos funções colocando a palavra ```def``` em frente a função que queremos criar. Essas poderão ser chamadas a partir dos seus nomes.

In [ ]:

def somar(a, b):
    return a+b

print(somar(1,5))

6

Utiliza-se "()" para chamar funções, exemplo:
```python
result = f(x, y, z)
g()
```

Quase todos os objetos do Python tem funções atribuidas, elas são chamadas como métodos e podem ser chamadas como monstrado no exemplo abaixo:
```python
obj.some_method(x, y, z)
```
Funções podem ter argumentos posicionais e de palavras chaves, exemplo:
```python
result = f(a, b, c, d=5, e='foo')
```

### **Exercício**
Agora que fizemos nossa calculadora de potências, crie uma função que faça os cálculos. Use como argumentos a base da potência e o expoente.\
Exemplo:\
potencia(2, 4) retorna $2^4=16$

In [ ]:
# Coloque seu código aqui

# Estruturas de Dados e Seus Métodos

Estruturas de dados são formas de armazenamento de grupos de dados. Cada estrutura tem sua função e tem suas próprias características e métodos. Python possui diversas estruturas de dados disponíveis. Veremos algumas das mais comuns e úteis.

## Tuplas

Uma tupla é uma sequência de objetos de tamanho fixo:

In [ ]:
tup = 4, 5, 6

tup

(4, 5, 6)

Para definir tuplas mais complicadas, é recomendado utilizar valores entre parênteses. Isso é útil para colocar estruturas mais complexas que apenas números em uma tuplas, como por exemplo uma tupla de tuplas:

In [ ]:
tupla_inception = (4, 5, 6), (7, 8)

tupla_inception

((4, 5, 6), (7, 8))

Podemos ainda converter uma dada sequência em uma tupla ao invocarmos a função ```tuple()```:

In [ ]:
print(tuple([4,0,2]))

print(tuple("texto"))

(4, 0, 2)
('t', 'e', 'x', 't', 'o')

Podemos acessar os elementos colocando entre colchetes [] o índice do elemento buscado.

In [ ]:
minhatupla = 0, 3, 4

minhatupla[1]

3

Tuplas podem ter multiplos elementos de diferentes classes:

In [ ]:
tupla = tuple(['texto', [1, 4], True, 5.75])

print(tupla)

tupla[1].append(5)

print(tupla)

('texto', [1, 4], True, 5.75)
('texto', [1, 4, 5], True, 5.75)

Podemos ainda juntar tuplas com o operador +:

In [ ]:
(41, None, 'aaa') + (6,0) + ('bbbb',)

(41, None, 'aaa', 6, 0, 'bbbb')

Multiplicar tuplas por números inteiros faz com que a tupla se concatene consigo mesma o número de vezes multiplicado:

In [ ]:
('sou', 'lindo') * 4

('sou', 'lindo', 'sou', 'lindo', 'sou', 'lindo', 'sou', 'lindo')

### Desempacotando Tuplas

Se igualarmos uma expressão de variáveis cuja estrutura condiga com a de uma determinada tupla, os valores serão desempacotados de forma organizada:

In [ ]:
tup = (4,5,6)
a, b, c = tup
print("a = %d, b = %d, c = %d" %(a,b,c))

a = 4, b = 5, c = 6

### Métodos de Tuplas

Como o tamanho e conteúdo de uma tupla não pode ser modificado, esta estrutura apresenta poucos métodos para se trabalhar.<br>
Um método muito útil também presente em listas é a função ```count()```, usado para contar quantas vezes tal atributo aparece em uma tupla:

In [ ]:
a = "banana"
a.count('a')

3

### **Exercício**
Escreva um programa que multiplica todos os valores de uma dada tupla. Imprima o resultado no console.\
Exemplos:
1. Tupla original: (4, 3, 2, 2, -1, 18)\
Produto: -864
2. Tuple: (2, 4, 8, 8, 3, 2, 9)\
Produto  27648

## Listas

Listas são como tuplas, mas em que seus elementos podem ser modificados. Podemos defini-las colocando dados entre colchetes ou usando a função ```list()```

In [ ]:
lista_de_compras = ['a', 'b', 'c']
lista_de_compras

['a', 'b', 'c']

Podemos alterar um valor da lista chamando o valor pelo seu índice:

In [ ]:
tupla_de_compras = ('banana', 'maçã', 'berga')
lista_de_compras = list(tupla_de_compras)
print(lista_de_compras)

lista_de_compras[0] = 'banana prata'
print(lista_de_compras)

['banana', 'maçã', 'berga']
['banana prata', 'maçã', 'berga']

In [ ]:
conta = list(range(10))
conta

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Adicionando e Removendo Elementos

Podemos adicionar um dado ao final de uma lista usando a função ```append()```:

In [ ]:
lista_de_compras.append('pão')
lista_de_compras

['banana prata', 'maçã', 'berga', 'pão']

Para adicionar um dado em uma localização específica da lista, usa-se a função ```insert()```, colocando o índice onde queremos colocar em frente ao valor:

In [ ]:
lista_de_compras.insert(1, 'manteiga')
lista_de_compras

['banana prata', 'manteiga', 'maçã', 'berga', 'pão']

A operação inversa seria a função ```pop()```, que remove e retorna o elemento no índice indicado:

In [ ]:
lista_de_comprados = []
lista_de_comprados.append(lista_de_compras.pop(2))

print(lista_de_compras)
print(lista_de_comprados)

['banana prata', 'manteiga', 'berga', 'pão']
['maçã']

Para remover um dado usando seu valor, e não seu índice, usamos a função ```remove()```:

In [ ]:
lista_de_compras.remove("pão")

print(lista_de_compras)

['banana prata', 'manteiga', 'berga']

### Checagem Elementos

Podemos checar se um elemento existe em uma lista com as palavras-chave <b>in</b> ou <b>not in</b>:

In [ ]:
'banana prata' in lista_de_compras

True

In [ ]:
'banana prata' not in lista_de_compras

False

### Combinação de Listas

Podemos combinar duas listas com o operador +:

In [ ]:
[4, None, 'a'] + [7,9, (2,3)]

[4, None, 'a', 7, 9, (2, 3)]

Caso uma lista já estiver definida, usamos a função ```extend()``` para colocar novos elementos ao fim da lista:

In [ ]:
x = [4, None, 'a']
x.extend([7, 9, (2, 3)])
x

[4, None, 'a', 7, 9, (2, 3)]

### Ordenação de Listas

Podemos ordenar listas com a função ```sort()```:

In [ ]:
a = [2, 3, 1, -5, -33]
a.sort()
a

[-33, -5, 1, 2, 3]

A função ```sort()``` se mostra muito poderosa ao lidarmos com strings também, pois podemos colocar um atributo para escolher o método de ordenação:

In [ ]:
b = ['palavra', "palavra grande", 'a']
b.sort(key=len)
b

['a', 'palavra', 'palavra grande']

### Cortes

É possível cortar partes de uma lista a partir de uma notação de corte, que consiste em um começo:fim entre colchetes:

In [ ]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [ ]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [ ]:
seq[:5]

[7, 2, 3, 6, 3]

In [ ]:
seq[3:]

[6, 3, 5, 6, 0, 1]

Índices negativos cortam a sequência a partir do fim:

In [ ]:
seq[-4:]

[5, 6, 0, 1]

In [ ]:
seq[-6:-2]

[6, 3, 5, 6]

In [ ]:
seq[::2]

[7, 3, 3, 6, 1]

In [ ]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### Enumeração de Listas

A funçao ```enumerate()``` serve para enumerar os elementos de uma lista:

In [ ]:
listinha = ['a', 'b', 'c']
mapping = {}
for i, v in enumerate(listinha):
    mapping[v] = i
mapping

{'a': 0, 'b': 1, 'c': 2}

### Método ```sorted()```

O método ```sorted()``` retorna uma lista ordenada:

In [ ]:
sorted([1, -5, 33, 2, 4, -12])

[-12, -5, 1, 2, 4, 33]

In [ ]:
sorted('pera maçã')

[' ', 'a', 'a', 'e', 'm', 'p', 'r', 'ã', 'ç']

### ```zip()```

A função ```zip()``` pareia elementos de listas, tuplas ou outras sequências para criar uma lista de tuplas:

In [ ]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [ ]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [ ]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [ ]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names
last_names

('Ryan', 'Clemens', 'Curt')

### Reversão

A função ```reversed()``` retorna a uma lista com a ordem contrária a dada:

In [ ]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### **Exercício**
Escreva um programa que remove valores negativos de uma lista.\
Exemplo:\
lista [-2, 0, 32, -12, 55, 2, -4, -56, 33, -42]\
Resultado:\
Lista final: [0, 32, 55, 2, 33]

Escreva um codigo que crie uma lista que seja uma intercalação de outras duas listas, por exemplo:\
list1 = [0,2,4,6,8]\
list2 = [1,3,5,7,9]\
resultado:\
list3 = [0,1,2,3,4,5,6,7,8,9]

## Dicionários

Dict é muitas vezes considerada a estrutura mais importante disponível em Python. É possível nomear dados dentro de uma estrutura. Podemos definir um dict colocando entre chaves os valores que queremos:

In [ ]:
dict_vazio = {}
dict_vazio

{}

In [ ]:
dict_1 = {'a' : '1', 'b' : [2, 3, 5, 1]}
dict_1

{'a': '1', 'b': [2, 3, 5, 1]}

Podemos acessar, inserir ou alterar elementos usando a mesma sintaxe para acessar elementos de uma lista ou tupla:

In [ ]:
dict_1[7] = 'alguma coisa'
dict_1

{'a': '1', 'b': [2, 3, 5, 1], 7: 'alguma coisa'}

In [ ]:
dict_1['b']

[2, 3, 5, 1]

Podemos checar se uma dict contém uma chave específica usando a palavra-chave <b>in</b>:

In [ ]:
'b' in dict_1

True

Para deletar valores, usamos ou a palavra-chave <b>del</b> ou o método ```pop``` demonstrada anteriormente:

In [ ]:
dict_1[10] = "sacrifício"
dict_1['aaa'] = "sacrifício2"

print(dict_1)

del dict_1[10]
dict_1.pop('aaa')

print(dict_1)

{'a': '1', 'b': [2, 3, 5, 1], 7: 'alguma coisa', 10: 'sacrifício', 'aaa': 'sacrifício2'}
{'a': '1', 'b': [2, 3, 5, 1], 7: 'alguma coisa'}

Podemos listar os índices/nomes dos elementos usando a função ```keys()``` e os valores com a função ```values()```:

In [ ]:
list(dict_1.keys())

['a', 'b', 7]

In [ ]:
list(dict_1.values())

['1', [2, 3, 5, 1], 'alguma coisa']

Podemos ainda combinar ou alterar uma dict em outra usando o método ```update()```:

In [ ]:
dict_1.update({'b' : 'aaaa', 'c' : 12})
dict_1

{'a': '1', 'b': 'aaaa', 7: 'alguma coisa', 'c': 12}

### Criando Dicts a partir de Sequências

Podemos mapear sequências usando uma mistura da função ```dict()``` com ```zip()```:

In [ ]:
mapear_sequencia = dict(zip(range(5), reversed(range(5))))
mapear_sequencia

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

### **Exercício**
Escreva um programa que cria um dict a partir de duas tuplas. Uma tupla indica o nome de disciplinas e outra as notas. Adicione no fim do dicionário a média do semestre.\
Exemplo:\
tupla1("Lógica de Programação", "Cálculo I", "Geometria Analítica", "Física A")\
tupla2(10, 8.5, 2, 8.5)\
dict = {"Lógica de Programação":10, "Cálculo I":8.5, "Geometria Analítica":2, "Física A":8.5}\
Resultado:\
dict = {Lógica de Programação":10, "Cálculo I":8.5, "Geometria Analítica":2, "Física A":8.5, "Media":7.25}

Foram anotadas as idades e alturas de 8 alunos, faça um codigo que mostre quais alunos tem mais de 12 anos e qual a altura média entre esses alunos:

In [ ]:
alunos = {'aluno1': (11	,135),'aluno2':(13,141),'aluno3':(12,142),'aluno4':(15,139),'aluno5':(15,139),'aluno6':(12,149),'aluno7':(13,139),'aluno8':(10,149)}

## Sets

Sets são um conjunto ordenado de elementos <b>únicos</b>. Seriam como dicts que tem apenas chaves de elementos, sem valores. Podemos criar um set a partir da função ```set()``` ou colocando valores entre chaves:

In [ ]:
set([2,1,2,3,4,5,3,3,3,2,2,2,1])

{1, 2, 3, 4, 5}

In [ ]:
{2,2,2,1,1,3,3,4,2}

{1, 2, 3, 4}

### Operações de Sets

Podemos unir dois sets com a função ```union()```:

In [ ]:
a = {1, 2,3,4,1,1,1,2,1}
b = {3,4,3,2,5,6}

a.union(b)

{1, 2, 3, 4, 5, 6}

Para encontrarmos intersecções, usamos a função ```intersection()``` ou o sinal <b>&</b>:

In [ ]:
a.intersection(b)

{2, 3, 4}

In [ ]:
a & b

{2, 3, 4}

O método ```copy()``` faz uma cópia de um dado set:

In [ ]:
c = a.copy()
c

{1, 2, 3, 4}

Podemos checar se um determinado set é subset de outro com o método ```issubset()```:

In [ ]:
a_set = {5,3,4,2,1}
a_set

{1, 2, 3, 4, 5}

In [ ]:
{1, 2, 3}.issubset(a_set)

True

Podemos fazer o caminho contrário e ver se um set é *superset* de outro:

In [ ]:
a_set.issuperset({1, 2, 3})

True

### **Exercício**
Remova itens de um set que não estão presentes no segundo set.\
Exemplo:\
set1 = {10, 20, 30, 40, 50}\
set2 = {30, 40, 50, 60, 70}\
Resultado:\
{40, 50, 30}